*{
    margin: 0px;
    /* padding: 0px; */
}
#box{
    background-color:aquamarine;
    border: 3px solid black;
    color:black;
    width:60vw;
    box-sizing: border-box;
    margin:auto;
}
#button:focus{
   outline:2px red solid ;
}
#list{
    /* list-style:inside; */
    background-color: aquamarine;
}